# Required Modules
dearpygui==1.8.0
numpy==1.23.1
opencv-python==4.6.0.66
openvino==2022.2.0
Pillow==9.3.0
websocket-client
# <<Raspberry Pi has a different setup method. You cannot setup the environment with this file.>>